* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --white: #ffffff;
    --light-gray: #eeeeee;
    --light-blue: #bde0fe;
    --dark-blue: #4e5283;
    --light-pink: #ffc8dd;
    --black-alpha: rgb(18, 18, 18, 0.5);
    --gradient-bg: linear-gradient(210deg, #ffc8dd 0%, #ffc8dd 49.99%, #bde0fe 50%, #bde0fe 100%);
    --font: 'Jost', sans-serif;
}

body {
    font-family: var(--font);
    font-weight: 300;
    font-size: 18px;
    color: var(--dark-blue);
}

.to-do-page {
    display: flex;
    justify-content: center;
    background-color: var(--light-blue);
    background-image: var(--gradient-bg);
    width: 100%;
    min-height: 100vh;
}

.to-do-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem 3rem;
    background-color: var(--white);
    gap: 2rem;
}

.to-do-form {
    display: flex;
    flex-direction: column;
}

.to-do-label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.to-do-textarea {
    font-family: var(--font);
    padding: 0.5rem;
    height: 10rem;
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    border-radius: 0.5rem;
    color: var(--dark-blue);
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}


.to-do-textarea::placeholder {
    font-family: var(--font);
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 1.1rem;
}

.to-do-buttons{
  display: flex;
  gap: 2rem;
justify-content: center;
}

.to-do-button {
    padding: 0.65rem 3rem;
    font-family: var(--font);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.to-do-button:hover {
    opacity: 0.9;
}

.save-button{
  color: var(--white);
  background-color: var(--dark-blue);
  border: none;
}

.reset-button{
  color: var(--dark-blue);
  background-color: transparent;
  border: 2px solid var(--dark-blue);
}

.to-do-list {
    display: flex;
    flex-direction: column;

}

.to-do-list-header {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    align-self: center;
}

.to-do-list-items {
    list-style: none;
}

.to-do-list-item {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.to-do-list-item:last-child {
    margin-bottom: 0;
}

.to-do-list-item:before {
    content: "\f004";
    font-family: FontAwesome;
    color: var(--light-pink);
    font-size: 1.25rem;
    margin-right: 8px;
}