* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --orange: #f77f00;
  --blue: #003049;
  --lighter-blue: #025581;
  --yellow: #fcbf49;
  --white: #ffffff;
  --gray: #f6f6f6;
  --dark-gray: #929292;
  --darker-gray: #444444;
  --red: #d62828;
  --black-alpha: rgba(0, 0, 0, 0.1);
  --font-body: "Fredoka", sans-serif;
  --font-title: "Goldman", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  color: var(--darker-gray);
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-family: var(--font-title);
  color: var(--lighter-blue);
}

button {
  font-family: var(--font-body);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

button:hover,
button:visited,
button:active {
  opacity: 0.9;
}

button:disabled {
  background-color: var(--dark-gray);
  cursor: inherit;
}

button:disabled:hover,
button:disabled:visited,
button:disabled:active {
  opacity: 1;
}

a {
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  opacity: 0.8;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  margin-right: 0.3rem;
}

#app {
  display: flex;
}

#app-menu {
  width: 14rem;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 1.5rem 2rem;
  background-color: var(--blue);
}

.app-logo {
  height: 20%;
  text-align: center;
  font-family: var(--font-title);
  font-size: 1.5rem;
  color: var(--yellow);
}

.app-navigation li {
  padding: 0.75rem 0;
  text-align: center;
}

.app-navigation li a {
  color: var(--white);
}

#app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 14rem);
  background-color: var(--gray);
  padding: 1.5rem 0;
}

.app-title {
  margin-bottom: 2rem;
}

.app-form,
.app-new-fieldsets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-form {
  width: 50%;
}

.app-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.app-form-label {
  min-width: 10rem;
}

.app-form-label span {
  display: block;
  font-size: 0.8rem;
}

.app-form-input {
  padding: 1rem 0.5rem;
  width: 100%;
  min-width: 15rem;
  border-radius: 0.5rem;
  border: 1px solid var(--dark-gray);
}

.app-form-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.5rem;
}

.app-form-button,
.app-button-save {
  background-color: var(--orange);
  color: var(--white);
  min-width: 8rem;
  font-size: 1rem;
}

.app-find-by-inputs-group {
  display: flex;
  gap: 1.5rem;
}

.app-find-by-group {
  width: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.app-find-by-group label {
  margin-bottom: 0.5rem;
}

.app-search-results,
.app-update-musician {
  width: 90%;
  margin-top: 2.5rem;
}

.app-search-results {
  text-align: center;
}

.app-search-results-header,
.app-search-results-body ul {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.app-search-results-header,
.app-update-musician-header {
  font-weight: 400;
  color: var(--lighter-blue);
}

.app-search-results-header {
  margin-bottom: 0.75rem;
}

.app-search-results-body ul {
  border-bottom: 1px solid var(--dark-gray);
  padding: 1.5rem 0;
  font-size: 1rem;
}

.app-search-results-body ul:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.app-search-results-body ul {
  border-bottom: 1px solid var(--dark-gray);
  padding: 1.5rem 0;
  font-size: 1rem;
}

.app-search-results-body span {
  margin-right: 0.5rem;
  line-height: 1.5rem;
}

.app-bands-list {
  margin-bottom: 1rem;
}

.app-bands-list:last-child {
  margin-bottom: 0;
}

.app-bands-list p {
  padding: 1rem 0;
  font-size: 1.3rem;
  color: var(--lighter-blue);
  font-weight: 500;
}

.app-update-musician {
  display: grid;
  justify-content: center;
  grid-template-columns: 10rem auto;
  gap: 2rem;
}

.app-update-musician-header,
.app-update-musician-body ul {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
}

.app-update-musician-changeable {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 0;
}

.app-update-musician-changeable p {
  padding: 0.5rem 0.5rem 0.7rem 0.75rem;
  border: 1px solid var(--dark-gray);
  background-color: var(--white);
  border-radius: 0.75rem;
  display: inline-flex;
  cursor: pointer;
}

.app-update-musician-changeable span {
  margin-top: -9px;
  margin-left: 5px;
  font-size: 1rem;
}
