* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --red: #ce5454;
    --white: #ffffff;
    --yellow: #ffee00;
    --green: #57834c;
    --blue: #40415e;
    --gray: #aaaaaa;
    --font: 'IBM Plex Mono', monospace;
}

body {
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font);
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    align-content: center;
    background-color: var(--black);
}

.tabuleiro-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.tabuleiro-titulo {
    font-weight: 700;
    margin-bottom: 1.2rem;
    border-bottom: 4px solid var(--yellow);
}

.tabuleiro-placar {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

.tabuleiro-jogador {
    display: flex;
}

.tabuleiro-jogador-nome {
    font-weight: 500;
    margin-right: 0.5rem;
}

.tabuleiro-jogador-pontos {
    font-weight: 300;
}

.tabuleiro-versus {
    color: var(--yellow);
    font-weight: 700;
}

.tabuleiro-botoes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.tabuleiro-botao {
    border: none;
    padding: 0.5rem 1rem;
    font-family: var(--font);
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
}

.tabuleiro-botao:hover,
.tabuleiro-botao:visited,
.tabuleiro-botao:active {
    opacity: 0.8;
}

.tabuleiro-botao:disabled {
    background-color: var(--gray);
    color: var(--black);
    cursor: inherit;
}

.tabuleiro-botao:disabled:hover,
.tabuleiro-botao:disabled:visited,
.tabuleiro-botao:disabled:active {
    opacity: 1;
}

.botao-inicia {
    background-color: var(--green);
}

.botao-encerra {
    background-color: var(--red);
}

.casa-tabuleiro {
    background-color: var(--white);
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data--x-ou-o] {
    margin: 0;
    padding: 0;
    font-size: 6rem;
    font-weight: 900;
}

[data--x-ou-o="o"] {
    color: var(--blue);
}

[data--x-ou-o="x"] {
    color: var(--red);
}

[data--x-ou-o="winner"] {
    color: var(--green);
}